In [1]:
import geopandas as gpd
import numpy as np 
import matplotlib.pyplot as plt
import pandas as pd
from shapely import wkt

In [2]:
df = pd.read_csv('ads24-buildings.csv', low_memory=False)
df = df.head(10000)
df

,id,building,wkt
0,201782706,yes,"LINESTRING(18.9918839 50.1900409,18.9919257 50..."
1,361329065,yes,"LINESTRING(20.615881 52.8893058,20.6158402 52...."
2,361329066,yes,"LINESTRING(20.6141094 52.888029200000005,20.61..."
3,361329067,yes,"LINESTRING(20.611661700000003 52.8855821,20.61..."
4,201782707,yes,"LINESTRING(18.9976388 50.194090800000005,18.99..."
...,...,...,...
17424643,1326345435,yes,"LINESTRING(17.9698227 54.6989669,17.9699094000..."
17424644,1326345436,yes,"LINESTRING(17.9694191 54.6993591,17.9693091 54..."
17424645,26648069,yes,"LINESTRING(15.0015409 51.158778700000006,15.00..."
17424646,361329064,yes,"LINESTRING(20.609454300000003 52.8859549,20.60..."
17424647,201782704,yes,"LINESTRING(19.0002004 50.1898593,19.0002047 50..."

In [23]:
df['geometry'] = df['wkt'].apply(wkt.loads)
gdf = gpd.GeoDataFrame(df, crs="EPSG:4326", geometry='geometry')
gdf['lat'] = gdf.centroid.x
gdf['long'] = gdf.centroid.y

gdf.to_crs(epsg=2180, inplace=True)
gdf = pd.concat([gdf, gdf.bounds], axis=1)
gdf['wkt'] = gdf['geometry'].apply(wkt.dumps)
gdf = gdf.drop(['geometry'], axis=1)
gdf

/tmp/ipykernel_200745/20041386.py:3: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf['lat'] = gdf.centroid.x
/tmp/ipykernel_200745/20041386.py:4: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  gdf['long'] = gdf.centroid.y

,id,building,wkt,lat,long,minx,miny,maxx,maxy
0,201782706,yes,LINESTRING (499420.8127744635567069 258092.102...,18.991903,50.190017,499420.612382,258086.700150,499423.795724,258092.102580
1,361329065,yes,LINESTRING (608682.9840914446394891 559420.450...,20.615891,52.889275,608680.316904,559413.732702,608687.208738,559420.450725
2,361329066,yes,LINESTRING (608567.0259966760640964 559275.821...,20.614128,52.887998,608564.686430,559268.874217,608572.060052,559275.821118
3,361329067,yes,LINESTRING (608408.5076238969340920 559000.020...,20.611670,52.885547,608405.254821,558992.184898,608413.066536,559000.020981
4,201782707,yes,LINESTRING (499831.5125229217228480 258542.239...,18.997626,50.194074,499828.858031,258538.616377,499832.275947,258542.239968
...,...,...,...,...,...,...,...,...,...
9995,35585843,apartments,LINESTRING (362017.5607251165783964 504284.942...,16.971179,52.387684,361924.764507,504284.942500,362026.044043,504420.074731
9996,202103042,yes,LINESTRING (498811.1167561059119180 266567.162...,18.983242,50.266265,498800.941363,266559.438107,498811.116756,266570.442926
9997,51452681,transportation,LINESTRING (201135.5722427452565171 628768.388...,14.498264,53.438941,201135.572243,628757.645985,201142.622702,628768.868726
9998,389173825,yes,LINESTRING (561449.1905924356542528 202738.627...,19.852262,49.688866,561448.431219,202731.290327,561458.708601,202738.627493
9999,51452682,transportation,LINESTRING (201149.4395303938072175 628777.106...,14.498439,53.439058,201149.439530,628772.255868,201153.016874,628777.502389